.App {
  background-color: #ffffff;
  min-height: 100vh;
}

.App .grid-container {
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  display: grid;
}


.App .grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}




